<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glide</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div id="map-container">
        <a href ="./index.html">
            <div id="logo">
                <img src="../static/images/glide-logo.png" id="glide-logo" alt="glide logo image">
            </div>
        </a>
    <h1>Directions Page</h1>
    
    <p>Origin: {{ origin }}</p>
    <p>Destination: {{ destination }}</p>
    <!-- Display other calculated results -->
    </div>
</body>
</html>