<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glide</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div id="map-container">
        <div id="map"></div>
        <a href ="./index.html">
            <div id="logo">
                <img src="../static/images/glide-logo.png" id="glide-logo" alt="glide logo image">
            </div>
        </a>
    </div>

    <div class="card-view">
        <div class="text-direction-container">
            <div class="origin-destination-container">
                <h2 class="building-name" id="origin-building">출발지: </h2>
                <h2 class="building-name" id="destination-building">도착지: </h2>
            </div>
            <div class="direction-container">
                <p id="route">route: </p>
                <p>here goes directions explained in text format</p>
            </div>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4i1BVl5lkiaP8qTtIc48-ZJ8OJGXwFQc&callback=initMap" async defer></script>
    <script src="../static/js/script_directions.js"></script>
</body>
</html>