<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Glide</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/images/glide-logo.png">
</head>

<body>
  <div id="map_div"></div>

  <div id="index-map-container">
    <a href ="./">
      <div id="logo">
        <img src="../static/images/glide-logo.png" id="glide-logo" alt="glide logo image">
      </div>
    </a>

      <div id="error-text-container">
        <p id="error-text"></p>
      </div>

    <form id="route-form" method="GET">
      <div id="inputs-container">

        <div id="textbox-container">
          <div id="origin-textbox-container">
            <input type="text" id="origin" placeholder="출발지 입력" required>
            <div class="buildings-list-wrapper" id="origin-buildings-list-wrapper">
              <ul class="buildings-list" id="origin-buildings-list"></ul>
            </div>
          </div>

          <div id="destination-textbox-container">
            <input type="text" id="destination" placeholder="도착지 입력" required>
            <div class="buildings-list-wrapper" id="destination-buildings-list-wrapper">
              <ul class="buildings-list" id="destination-buildings-list"></ul>
            </div>
          </div>

          <div id="swap-button-container">
            <button type="button" id="swap-button"></button>
          </div>
        </div>

        <div id="button-container">
          <button type="submit" id="findroute-button">길찾기</button>
        </div>
      </div>
    </form>

  </div>


</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=Uwozp3NT3vLq8QjIzTgLaKFTjJyC86y5YavUs4y9"></script>
<script src="../static/js/script_index.js"></script>
</html>